<ion-view view-title="Trocar senha">
    <ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item">
            <i class="icon {{backButtonClass}}"></i>{{backTitle}}
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Senha atual</span>
                <input ng-model="model.actualPassword" type="password" placeholder="Senha atual">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nova senha</span>
                <input ng-model="model.newPassword"  type="password" placeholder="Nova senha">
            </label>

            <button class="button button-full button-positive" ng-click="updatePassword()">
                Alterar senha
            </button>
        </div>
    </ion-content>
</ion-view>