<ion-view view-title="{{ 'EXCLUDE_USER' | translate }}">
    <ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item">
            <i class="icon {{backButtonClass}}"></i>{{backTitle}}
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list">
            <div class="item item-text-wrap">{{ 'EXCLUDE_USER_CONFIRM_CREDENTIAL_MESSAGE' | translate }}</div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{ 'EMAIL' | translate }}</span>
                <input ng-model="model.email" type="email" placeholder="{{ 'EMAIL' | translate }}">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">{{ 'ACTUAL_PASSWORD' | translate }}</span>
                <input ng-model="model.password" type="password" placeholder="{{ 'ACTUAL_PASSWORD' | translate }}">
            </label>

            <button class="button button-full button-assertive" ng-click="askConfirmationAgain()" ng-disabled="!model.email || !model.password">
                {{ 'EXCLUDE_USER' | translate }}
            </button>
        </div>
    </ion-content>
</ion-view>